/* src/css/menu.css */

.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Prevent overflow for the entire app container */
}

.menu {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: white;
  overflow: hidden; /* Prevent overflow within the menu */
}

.menu-header {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 0px 40px;
  align-items: center;
  cursor: pointer;
  margin-top: 40px;
}

.header-text {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.header-text h2 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

img {
  background-color: inherit;
  height: 27px;
  margin-right: 10px;
  padding: 0;
}

.menu-items {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 55px;
  flex-grow: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 20px 50px; 
  color: #9FA3B5;
  cursor: pointer;
  transition: color 0.3s;
}

.menu-item .icon {
  margin-right: 15px;
  background-color: inherit;
}

.menu-item:hover {
  color: #4D869C;
}

.menu-item.active {
  color: #4D869C;
}

.logout-item {
  margin-top: auto;
  padding-bottom: 30px;
}
