.actions {
    display: flex;
    justify-content: flex-end;
}

.search-input {
    width: initial;
}

.new-patient-button {
    background-color: #4D869C;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 27px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.new-patient-button:hover{
    background-color: #23404c;
}

.plus-icon {
    background-color: inherit;
    margin-right: 10px;
    font-size: 15px;
}