.actions {
    display: flex;
    justify-content: flex-end;
}

.search-input {
    width: initial;
}

.new-patient-button {
    background-color: #4D869C;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 8px 27px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.new-patient-button:hover{
    background-color: #23404c;
}

.plus-icon {
    background-color: inherit;
    margin-right: 10px;
    font-size: 15px;
}

.patients-table {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 20px;
}



.patients-table th, .patients-table td {
    padding: 12px;
}

.patients-table td {
    background-color: white;
}

.actions-icons .faEdit,
.actions-icons .faTrash,
.actions-icons .faEllipsisV {
    color: #4D869C;
}

thead tr>th
 {
    background-color: #E4E7ED;
    color: #265365;
 }


